<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <form action="/create" method="post">
        <input type="text" name="name" placeholder="Enter your name" class="px-3 py-2 rounded-md border-2 border-zinc-800 bg-transparent outline-none">
        <input type="email" name="email" placeholder="Enter your email" class="px-3 py-2 rounded-md border-2 border-zinc-800 bg-transparent outline-none">
        <input type="password" placeholder="Enter your password" name="password" class="px-3 py-2 rounded-md border-2 border-zinc-800 bg-transparent outline-none ">
        <input type="number" name="age" placeholder="Enter your age" class="px-3 py-2 rounded-md border-2 border-zinc-800 bg-transparent outline-none">
        <input type="submit" value="create user" class="px-45 py2 rounded-md bg-blue-500">
    </form>
</body>
</html>